on: [push, pull_request]
name: Build
jobs:
    test:
        strategy:
            matrix:
                go-version: [1.14.x, 1.13.x, 1.12.x, 1.11.x]
                platform: [ubuntu-latest, macos-latest, windows-latest]
        runs-on: ${{ matrix.platform }}
        steps:
            - name: Install Go
              if: success()
              uses: actions/setup-go@v1
              with:
                  go-version: ${{ matrix.go-version }}
            - name: Checkout code
              uses: actions/checkout@v1
            - name: Run tests
              run: go test -v -race -covermode=atomic


    coverage:
        runs-on: ubuntu-latest
        steps:
            - name: Install Go
              if: success()
              uses: actions/setup-go@v1
              with:
                  go-version: 1.13.x
            - name: Checkout code
              uses: actions/checkout@v1
            - name: Calc coverage
              run: |
                  export PATH=$PATH:$(go env GOPATH)/bin
                  go test -v -covermode=count -coverprofile=coverage.out
            - name: Convert coverage to lcov
              uses: jandelgado/gcov2lcov-action@v1.0.0
              with:
                  infile: coverage.out
                  outfile: coverage.lcov
            - name: Coveralls
              uses: coverallsapp/github-action@v1.0.1
              with:
                  github-token: ${{ secrets.github_token }}
                  path-to-lcov: coverage.lcov

#    build:
#        runs-on: ubuntu-latest
#        needs: [lint, test]
#        steps:
#            - name: Install Go
#              uses: actions/setup-go@v1
#              with:
#                  go-version: 1.13.x
#            - name: Checkout code
#              uses: actions/checkout@v1
#            - name: build
#              run: |
#                  export GO111MODULE=on
#                  GOOS=windows GOARCH=amd64 go build -o bin/ci-test-windows-amd64.exe
#                  GOOS=linux   GOARCH=amd64 go build -o bin/ci-test-linux-amd64
#                  GOOS=darwin  GOARCH=amd64 go build -o bin/ci-test-darwin-amd64
#            - name: upload artifacts
#              uses: actions/upload-artifact@master
#              with:
#                  name: binaries
#                  path: bin/
